* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

.container {
    max-width: 800px;
    margin: 0 auto;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/*HEADER APP*/

header {
    background-color: white;
    max-width: auto;
    padding: 10px 20px;
}

.img-logo {
    vertical-align: middle;    
}

.title-logo {
    display: inline-block;
    vertical-align: middle;
}

/*MAIN APP*/

main {
    margin-top: 30px;
}

.task-container {
    background-color: white;
    border-radius: 10px;
}

.task-button {
    padding: 10px 40px;
}

/*TASK BUTTON*/

.button {
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 6px;
    }

.button-blue {
    background-color: #14aaf5;
    border-color: #14aaf5;
    color: white;
}

.button-grey {
    background: white;
    border-color: #c4cbd0;
    color: #c4cbd0;
}

/*TASK BUTTON*/